#outer
{
height:1700px;
width:1200px;
margin:auto;
background-color:green;
background-image:url("back.png");
}
#web
{
margin-left:80px;
font-size:50px;
}
#code
{
margin-left:150px;
}
#menu 
{
height:25px;
width:1000px;
background-color:white;
border-radius:20px 20px 20px 20px;
padding:20px;
padding-left:2px;
margin-left:70px;
margin-top:10px;
}
#menu ul
{
margin:0px;
padding:0px;
list-style-type:none
}
#menu ul li
{
margin-right:20px;
display:inline;
float:left;
padding-top:15px;
border-right:1px solid black;
margin-top:0px;
padding:10px;
}
#menu ul li a
{
padding:20px;
text-decoration:none;
}
#logo
{
height:300px;
width:1000px;
background-color:white;
margin-left:80px;
margin-top:10px;
}
#main
{
height:800px;
width:1000px;
background-color:white;
margin-left:80px;
margin-top:10px;
border-radius:0px 0px 10px 10px;
}
#ls
{
height:800px;
width:797px;
background-color:white;
float:left;
border-radius:0px 0px 20px 20px;
}
#head
{
height:100px;
width:700px;
margin-left:20px;
margin-top:20px;
font-size:30px;
}
#img
{
height:200px;
width:600px;
margin-left:110px;
background-image:url(richa.png);
}
#quotes
{
height:100px;
width:600px;
font-size:15px;
margin-left:100px;
margin-top:20px;
text-align:justify;
}
#read
{
margin-left:20px;
border-bottom:1px solid gray;
}
#room
{
height:100px;
width:700px;
font-size:30px;
margin-left:20px;
margin-top:40px;
}
#about
{
height:100px;
width:600px;
font-size:15px;
margin-left:100px;
margin-top:5px;
text-align:justify;
}
#more
{
//height:30px;
//width:100px;
margin-left:10px;
border-bottom:1px solid gray;
//border:1px solid;
}
#i
{
height:75px;
width:797px;
//border:1px solid;
}
#i2
{
height:75px;
width:249.5px;
//border:1px solid red;
float:right;
}
.i3
{
height:72px;
width:80px;
//border:1px solid;
float:right;
}
#i4
{
height:30px;
width:80px;
//border:1px solid blue;
//margin-left:10px;
}
#i5
{
height:20px;
width:30px;
border:1px solid;
margin-left:20px;
background-color:green;
padding-left:25px;
margin-top:10px;
}
#i6
{
height:20px;
width:30px;
border:1px solid;
margin-left:20px;
padding-left:25px;
margin-top:10px;
}
#i7
{
height:20px;
width:30px;
border:1px solid;
margin-left:20px;
padding-left:25px;
margin-top:10px;
}
#rs
{
height:800px;
width:200px;
float:right;
background-color:gray;
border-radius:0px 0px 10px 0px;
}
#header
{
height:80px;
width:200px;
font-size:30px;
margin-top:50px;
margin-left:20px;
color:black;
}
#topics
{
height:120px;
width:100px;
color:black;
margin-left:20px;
font-size:19px;
//margin-bottom:20px;
//border:1px solid;
}
#topics ul
{
list-style-type:none;
margin-top:10px;
}
#topics ul li
{
height:10px;
width:180px;
margin-top:10px;
}
#main ul
{
list-style-type:none
}
#main ul li
{
display:inline;
//border-right:1px solid blue;
}
#lime
{
font-size:30px;
margin-top:100px;
margin-left:30px;
color:black;
}
#name
{
margin-left:0px;
margin-top:20px;
font-size:19px;
margin-right:10px;
}
#footer
{
height:300px;
width:1000px;
background-color:white;
margin-top:10px;
margin-left:80px;
border-radius:20px 20px 20px 20px;
}
.gallary
{
height:280px;
width:270px;
/* border:1px solid; */
margin-top:10px;
margin-left:45px;
float:left;
}
#t1
{
height:40px;
width:245px;
//border:1px solid red;
margin-top:20px;
margin-left:10px;
font-size:35px;
}
#t2
{
height:180px;
width:245px;
//border:1px solid red;
margin-top:20px;
margin-left:10px;
//text-align:justify;
}
#copy
{
height:30px;
width:800px;
//border:1px solid;
margin:0px auto;
margin-top:10px;
color:white;
}
